.about{
  background-color: #f5f5f5;
}

  /* animation skills */
  .skill-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .skills{
    margin: 3rem
  }


  .final__animation-bar-2 {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 16px;
    background: rgba(0, 0, 0, 0.1);
  }

  .final__animation-bar-2 span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #6561ab, #343171);
  }

  @-webkit-keyframes progress-anim-40 {
    0% {
      width: 20%;
    }
    100% {
      width: 40%;
    }
  }

  @keyframes progress-anim-40 {
    0% {
      width: 20%;
    }
    100% {
      width: 40%;
    }
  }

  @-webkit-keyframes progress-anim-60 {
    0% {
      width: 20%;
    }
    100% {
      width: 60%;
    }
  }

  @keyframes progress-anim-60 {
    0% {
      width: 20%;
    }
    100% {
      width: 60%;
    }
  }

  @-webkit-keyframes progress-anim-80 {
    0% {
      width: 20%;
    }
    100% {
      width: 80%;
    }
  }

  @keyframes progress-anim-80 {
    0% {
      width: 20%;
    }
    100% {
      width: 80%;
    }
  }
